{{#if showAd}}
<div class="side-ad-parent {{hideClass}}">
    <div class="google-dfp-ad google-dfp-side-ad">
	
    {{#if site.mobileView}}

        <div class="google-dfp-ad-label" style={{adTitleStyleMobile}}><h2>{{i18n "adplugin.advertisement_label"}}</h2></div>
        <div id={{divId}} class="mobile didna-ad-unit" align="center"> 
           
            <!-- MixedMartialArts_300x600 -->
           <ins class="adsbygoogle"
            style="display:inline-block;width:300px;height:600px"
            data-ad-client="ca-pub-2829411399762487"
            data-ad-slot="2572509596"></ins>
              
        </div>
    {{else}}
        <div class="google-dfp-ad-label"><h2>{{i18n "adplugin.advertisement_label"}}</h2></div>
        <div id={{divId}} class="desktop didna-ad-unit" align="center">
           
            <!-- MixedMartialArts_300x600 -->
           <ins class="adsbygoogle"
            style="display:inline-block;width:300px;height:600px"
            data-ad-client="ca-pub-2829411399762487"
            data-ad-slot="2572509596"></ins>
            
        </div>   
    {{/if}}
    </div>
</div>
{{/if}} 
 {{!-- <div id="reply-control" class="closed show-preview ember-view"><div class="grippie"></div></div>   --}}

 <script>
addExcoPlayer() {
    const currentUser = this.get("currentUser");

    if (currentUser && currentUser.username) {
      let valueExists = true;

      for (const obj of currentUser.groups) {
        if (
          obj.name === "admins" ||
          obj.name === "Pro-Members" ||
          obj.name === "Business-Member" ||
          obj.name === "Pro-Fighters" ||
          obj.name === "Black-Belts" ||
          obj.name === "Mod-Team" ||
          obj.name === "OG-Mods" ||
          obj.name === "Top-Men"
        ) {
          valueExists = false;
          break; 
        }
      }

      if (valueExists) {
        setTimeout(() => {
          Ember.$(".video_section").html('');
          Ember.$('<div class="video_section"><div id="ace0fe48-0bdb-4202-b78c-dafca2c16291"></div></div>').insertAfter(".side-ad.discourse-adplugin");
        }, 1000);
      }
    }
  },

  
  didInsertElement() {
    this._super(...arguments);

   
    Ember.$.getScript("https://player.ex.co/player/ace0fe48-0bdb-4202-b78c-dafca2c16291")
      .done(() => {
        
        this.addExcoPlayer();
      })
      .fail((jqxhr, settings, exception) => {
       
        console.error("Failed to load Ex.co player script:", exception);
      });
  },
 </script>